# Set the default behavior to automatically normalize line endings
* text=auto

# Unity files
*.cs     text diff=csharp
*.shader text
*.cginc  text
*.compute text

# Binary files
*.png    binary
*.jpg    binary
*.ogg    binary
*.fbx    binary
*.mp3    binary
*.wav    binary
*.prefab binary
*.unity  binary
*.asset  binary
*.mat    binary
*.anim   binary
*.meta   text

# Ignore these files
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ibrary/
[Mm]emoryCaptures/
